<!DOCTYPE html>
<html lang="en" ng-app="ui.bootstrap.demo">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>.active { color: red; font-weight: bold; }</style>
</head>

<body>
  <a ui-sref="hello" ui-sref-active="active">Hello</a>
  <a ui-sref="about" ui-sref-active="active">About</a>
  <a ui-sref="people" ui-sref-active="active">People</a>
  <ui-view></ui-view>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script src="https://unpkg.com/angular-ui-router@next/release/angular-ui-router.min.js"></script>
  <script>
    var app = angular.module('ui.bootstrap.demo', ['ui.router']);

    app.config(function($stateProvider) {
      var helloState = {
        name: 'hello',
        url: '/hello',
        component: 'hello',
      };

      var aboutState = {
        name: 'about',
        url: '/about',
        template: '<h3>Its the UI-Router hello world app!</h3>',
      };

      var peopleState = {
        name: 'people',
        url: '/people',
        component: 'people',
        // This state defines a 'people' resolve
        // It delegates to the PeopleService to HTTP fetch (async)
        // The people component receives this via its `bindings: `
        resolve: {
          people: function(PeopleService) {
            return PeopleService.getAllPeople();
          },
        },
      };

      $stateProvider.state(helloState);
      $stateProvider.state(aboutState);
      $stateProvider.state(peopleState);
    });

    app.service('PeopleService', function() {
      var people = [
        {
          "id": "293",
          "isActive": false,
          "eyeColor": "brown",
          "name": "Ingrid Townsend",
          "company": "JASPER",
          "email": "ingridtownsend@jasper.com",
          "address": "690 Charles Place, Santel, Northern Mariana Islands, 3791"
        },
        {
          "id": "581",
          "isActive": true,
          "eyeColor": "blue",
          "name": "Estrada Nolan",
          "company": "FIBRODYNE",
          "email": "estradanolan@fibrodyne.com",
          "address": "317 Seeley Street, Cade, Maryland, 3976"
        },
        {
          "id": "29",
          "isActive": true,
          "eyeColor": "brown",
          "name": "Laverne Andrews",
          "company": "INTRAWEAR",
          "email": "laverneandrews@intrawear.com",
          "address": "760 Provost Street, Valle, Alaska, 4628"
        },
        {
          "id": "856",
          "isActive": false,
          "eyeColor": "green",
          "name": "Hull Woodward",
          "company": "SENMAO",
          "email": "hullwoodward@senmao.com",
          "address": "452 Union Avenue, Hachita, Palau, 9166"
        },
        {
          "id": "2321",
          "isActive": false,
          "eyeColor": "green",
          "name": "Maria Stanley",
          "company": "EYERIS",
          "email": "mariastanley@eyeris.com",
          "address": "350 Remsen Avenue, Abrams, Ohio, 6355"
        }
      ];

      var service = {
        getAllPeople: function() {
          return new Promise(function (resolve, reject) {
            setTimeout(function () {
              resolve(people);
            }, 1000);
          });
        },

        getPerson: function(id) {
          function personMatchesParam(person) {
            return person.id === id;
          }

          return service.getAllPeople().then(function (people) {
            return people.find(personMatchesParam)
          });
        }
      }

      return service;
    });

    app.component('hello', {
      template: '<h3>{{$ctrl.greeting}} Solar System!</h3>' +
             '<button ng-click="$ctrl.toggleGreeting()">toggle greeting</button>',
      controller: function() {
        this.greeting = 'hello';

        this.toggleGreeting = function() {
          this.greeting = (this.greeting == 'hello') ? 'whats up' : 'hello'
        };
      },
    });

    app.component('people', {
      bindings: { people: '<' },
      template: '<h3>Some people:</h3>' +
        '<ul>' +
        '  <li ng-repeat="person in $ctrl.people">' +
        '    {{person.name}}' +
        '  </li>' +
        '</ul>',
    });
  </script>
</body>

</html>
