<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="Ctrl">
  <p>{{ myPrimitive }}</p>
  <p>{{ myObject.aNumber }}</p>

  <script type="text/ng-template" id="/tpl1.html">
    <input type="number" ng-model="myPrimitive">
  </script>
  <div ng-include src="'/tpl1.html'"></div>

  <script type="text/ng-template" id="/tpl2.html">
      <input type="number" ng-model="myObject.aNumber">
  </script>
  <div ng-include src="'/tpl2.html'"></div>


  <script type="text/ng-template" id="/tpl3.html">
    <input type="number" ng-model="$parent.myPrimitive">
  </script>
  <div ng-include src="'/tpl3.html'"></div>

  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script>
    var app = angular.module('app', []);
    app.controller('Ctrl', function ($scope) {
      $scope.myPrimitive = 50;
      $scope.myObject = { aNumber: 11 };
    })
  </script>
</body>

</html>
