@import '../../../globals/variables.module.scss';

.root {
    font-family: $font-family-text;
}

.img {
    width: 100%;
    height: 100%;

    &.left {
        object-position: left;
    }
    &.right {
        object-position: right;
    }
    &.center {
        object-position: center;
    }
    &.top {
        object-position: top;
    }
    &.bottom {
        object-position: bottom;
    }
    &.scaleToFill {
        object-fit: cover;
    }
    &.scaleToFit {
        object-fit: contain;
    }
}
