@import '../../../globals/variables.module.scss';

:root {
    font-family: $font-family-text;
    shape-rendering: geometricPrecision;
}

.add,
.inspect,
.edit,
.home,
.props,
.reload,
.hamburger,
.more,
.branch,
.styles {
    filter: drop-shadow(0 0 2px $symbol-shadow);
    vertical-align: -5px;
    padding-right: 2px;
    padding-left: 2px;
    width: 20px;
    height: 20px;
}

.commit,
.sync,
.preview {
    filter: drop-shadow(0 0 2px $symbol-shadow);
    vertical-align: -5px;
    padding-right: 2px;
    padding-left: 2px;
    width: 60px;
    height: 20px;
}

.component {
    vertical-align: baseline;
    padding-right: 4px;
    padding-left: 4px;
    width: 10px;
    height: 10px;
}

.chevron {
    fill: currentColor;
    vertical-align: middle;
    padding-bottom: 2px;
    width: auto;
    height: 14px;
}

.div {
    vertical-align: middle;
    padding-right: 4px;
    padding-bottom: 2px;
    width: auto;
    height: 12px;
}
