@import '../../../globals/variables.module.scss';

:root {
    font-family: $font-family-text;
    // css variable being used to set the box's background color (color prop)
    --box-color: #eeeeee;
}

.box {
    color: $font-color;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 30px;
    min-height: 30px;

    &.fill {
        background: var(--box-color);
    }
    &.outline {
        background: transparent;
        border: 2px solid var(--box-color);
    }
    &.right {
        justify-content: flex-end;
    }
    &.center {
        justify-content: center;
    }
    &.left {
        justify-content: flex-start;
    }
}

.text {
    align-self: center;

    &.margin {
        margin-left: 0.75rem;
    }
}
