@import '../../../globals/variables.module.scss';

:root {
  font-family: $font-family-text;
  shape-rendering: geometricPrecision;
}

.stage {
  filter: drop-shadow(0 0 4px $symbol-shadow);
  border-radius: 4px;
  background-color: $tag-blue;
  color: $white;
  font-size: 13px;
  padding: 2px 6px 3px 4px;
}

.stage-comp {
  filter: drop-shadow(0 0 4px $symbol-shadow);
  border-radius: 4px;
  background-color: $tag-purple;
  color: $white;
  font-size: 13px;
  padding: 2px 6px 3px 4px;
  margin: 4px;
}

.tree {
  filter: drop-shadow(0 0 4px $symbol-shadow);
  background-color: $tag-white;
  color: $tag-border;
  font-size: 13px;
  padding: 2px 6px 3px 6px;
  margin: 4px;
}

.selector {
  filter: drop-shadow(0 0 4px $symbol-shadow);
  border: 1px solid $tag-gray;
  border-radius: 6px;
  background-color: $tag-white;
  font-size: 13px;
  height: 24px;
  padding: 2px 4px 2px 4px;
  margin: 4px;
}
