<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div ng-controller="Ctrl">
    <div ng-repeat="innerList in list" ng-init="outerIndex = $index">
      <div ng-repeat="value in innerList" ng-init="innerIndex = $index">
        <span>
          list[{{outerIndex}}][{{innerIndex}}] = {{value}};
        </span>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script>
    var app = angular.module('app', []);
    app.controller('Ctrl', ['$scope', function($scope) {
      $scope.list = [['a', 'b'], ['c', 'd']];
    }]);
  </script>
</body>

</html>
