<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div>
      <h2>Fixed row and column</h2>
      <div
        style="
          display: grid;
          grid-template-columns: 100px 100px 100px;
          grid-template-rows: 100px 100px;
        "
      >
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>Percent row and column</h2>
      <div
        style="
          display: grid;
          grid-template-columns: 33% 33% 33%;
          grid-template-rows: 33% 33% 33%;
        "
      >
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>Repeat</h2>
      <div
        style="
          display: grid;
          grid-template-columns: repeat(3, 100px);
          grid-template-rows: repeat(3, 100px);
        "
      >
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>Repeat Mode</h2>
      <div
        style="
          display: grid;
          grid-template-columns: repeat(2, 50px 100px);
          grid-template-rows: repeat(2, 100px 50px);
        "
      >
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>Auto Fill</h2>
      <div
        style="
          display: grid;
          grid-template-columns: repeat(auto-fill, 100px);
          /* 只影响第一行 */
          grid-template-rows: repeat(auto-fill, 100px);
        "
      >
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>Auto Fill With Auto Row</h2>
      <div
        style="
          display: grid;
          grid-template-columns: repeat(auto-fill, 100px);
          /* 需要使用 grid-auto-rows 来设置 */
          grid-auto-rows: 100px;
        "
      >
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>Fr</h2>
      <div style="display: grid; grid-template-columns: 100px 1fr 2fr">
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>minmax</h2>
      <div
        style="
          display: grid;
          grid-template-columns: 1fr 1fr minmax(100px, 200px);
        "
      >
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>auto</h2>
      <div style="display: grid; grid-template-columns: 100px auto 100px">
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
    <div>
      <h2>auto fr</h2>
      <div style="display: grid; grid-template-columns: 100px auto 1fr">
        <div><p>1</p></div>
        <div><p>2</p></div>
        <div><p>3</p></div>
        <div><p>4</p></div>
        <div><p>5</p></div>
        <div><p>6</p></div>
        <div><p>7</p></div>
        <div><p>8</p></div>
        <div><p>9</p></div>
      </div>
    </div>
  </body>
</html>
