.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
}

.titleContent {
  margin-right: 10px;
}

.crumb {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.crumbItem {
  float: left;

  &::before {
    content: '/';
    display: inline-block;
    margin: 0 3px;
  }

  &:first-child::before {
    display: none;
  }
}
