<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <table ng-controller="Ctrl">
    <tbody
      ng-repeat="user in users"
      ng-click="selectUser(user)"
      ng-switch
      on="isSelected(user)"
    >
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
      <tr ng-switch-when="true">
        <td colspan="2">{{user.desc}}</td>
      </tr>
    </tbody>
  </table>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script>
    angular.module('app', [])
      .controller('Ctrl', function ($scope) {
        $scope.users = [
          { id: 1, name: 'a', email: 'a@xxx.com', desc: '...' },
          { id: 2, name: 'b', email: 'b@xxx.com', desc: '...' },
        ];
        $scope.selectUser = function (user) {
          $scope.selectedUser = user;
        };
        $scope.isSelected = function (user) {
          return $scope.selectedUser === user;
        };
      });
  </script>
</body>

</html>
