<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div ng-controller="Ctrl">
    <table>
      <tbody ng-repeat="page in data">
        <tr ng-repeat="position in page.list">

        </tr>
        <tr><td>{{page.page}}</td></tr>
      </tbody>
    </table>
  </div>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script>
    var data = [{
      page: 'p1',
      list: [
        {
          position: 'p1p1',
          list: [
            {
              desc: 'p1p1d1',
              current: 'p1p1d1c',
              next: 'p1p1d1n',
            }, {
              desc: 'p1p1d2',
              current: 'p1p1d2c',
              next: 'p1p1d2n',
            },
          ],
        }, {
          position: 'p1p2',
          list: [
            {
              desc: 'p1p2d1',
              current: 'p1p2d1c',
              next: 'p1p2d1n',
            }, {
              desc: 'p1p2d2',
              current: 'p1p2d2c',
              next: 'p1p2d2n',
            },
          ],
        },
      ],
    }];
    angular.module('app', [])
      .controller('Ctrl', function ($scope) {
        $scope.data = data;
      });
  </script>
</body>

</html>
