.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
}

.grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: gray;
}
