<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
      }

      .demo {
        margin: 0 10px;
        width: 150px;
        color: #fff;
        background-color: red;
      }

      .flex {
        display: flex;
      }

      .flex > div {
        flex-shrink: 0;
      }

      .contents {
        display: contents;
      }

      .contents .demo {
        flex-shrink: 0;
      }
    </style>
  </head>
  <body>
    <div class="flex">
      <div class="contents">
        <div class="demo">123</div>
      </div>
      <div class="demo">1</div>
      <div class="demo">2</div>
      <div class="demo">3</div>
    </div>
  </body>
</html>
