<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div ng-controller="Ctrl">
    <div>
      <h1>Default</h1>
      <input type="text" ng-model="color" placeholder="Enter a color" />
      <scope-default color="color"/>
    </div>
    <hr>
    <div>
      <h1>Scope False</h1>
      <input type="text" ng-model="color" placeholder="Enter a color" />
      <scope-false color="color"/>
    </div>
    <hr>
    <div>
      <h1>Scope True</h1>
      <input type="text" ng-model="color" placeholder="Enter a color" />
      <scope-true color="color"/>
    </div>
    <hr>
    <div>
      <h1>Single Binding - @</h1>
      <input type="text" ng-model="color" placeholder="Enter a color" />
      <scope-single color="{{color}}"/>
    </div>
    <hr>
    <div>
      <h1>Two Way Binding - @</h1>
      <input type="text" ng-model="color" placeholder="Enter a color" />
      <scope-two-way color="color"/>
    </div>
    <hr>
    <div>
      <h1>Callback - &</h1>
      <input type="text" ng-model="color" placeholder="Enter a color" />
      <scope-callback color="{{color}}" update-color="updateColor(color)"/>
    </div>
  </div>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script>
    angular.module('app', [])
      .controller('Ctrl', function ($scope) {
        $scope.color = '';
        $scope.updateColor = function (color) {
          $scope.$apply(function() {
            $scope.color = color;
          });
        };
      })
      .directive('scopeDefault', function() {
        return {
          restrict: 'AE',
          replace: true,
          template: '<p style="background-color:{{color}}">Hello World',
          link: function(scope, elem, attrs) {
            elem.bind('click', function() {
              scope.$apply(function() {
                scope.color = "white";
              });
            });
            elem.bind('mouseover', function() {
              elem.css('cursor', 'pointer');
            });
          }
        };
      })
      .directive('scopeFalse', function() {
        return {
          restrict: 'AE',
          replace: true,
          scope: false,
          template: '<p style="background-color:{{color}}">Hello World',
          link: function(scope, elem, attrs) {
            elem.bind('click', function() {
              scope.$apply(function() {
                scope.color = "white";
              });
            });
            elem.bind('mouseover', function() {
              elem.css('cursor', 'pointer');
            });
          }
        };
      })
      .directive('scopeTrue', function() {
        return {
          restrict: 'AE',
          replace: true,
          scope: true,
          template: '<p style="background-color:{{color}}">Hello World',
          link: function(scope, elem, attrs) {
            elem.bind('click', function() {
              scope.$apply(function() {
                scope.color = "white";
              });
            });
            elem.bind('mouseover', function() {
              elem.css('cursor', 'pointer');
            });
          }
        };
      })
      .directive('scopeSingle', function() {
        return {
          restrict: 'AE',
          scope: {
            color: '@'
          },
          replace: true,
          template: '<p style="background-color:{{color}}">Hello World',
          link: function(scope, elem, attrs) {
            elem.bind('click', function() {
              scope.$apply(function() {
                scope.color = "white";
              });
            });
            elem.bind('mouseover', function() {
              elem.css('cursor', 'pointer');
            });
          }
        };
      })
      .directive('scopeTwoWay', function() {
        return {
          restrict: 'AE',
          scope: {
            color: '='
          },
          replace: true,
          template: '<p style="background-color:{{color}}">Hello World',
          link: function(scope, elem, attrs) {
            elem.bind('click', function() {
              scope.$apply(function() {
                scope.color = "white";
              });
            });
            elem.bind('mouseover', function() {
              elem.css('cursor', 'pointer');
            });
          }
        };
      })
      .directive('scopeCallback', function() {
        return {
          restrict: 'AE',
          scope: {
            color: '@',
            updateColor: '&',
          },
          replace: true,
          template: '<p style="background-color:{{color}}">Hello World',
          link: function(scope, elem, attrs) {
            elem.bind('click', function() {
              scope.updateColor({ color: 'white' });
            });
            elem.bind('mouseover', function() {
              elem.css('cursor', 'pointer');
            });
          }
        };
      });
  </script>
</body>

</html>
