<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div ng-controller="Ctrl">
    <div>
      <h1>Default</h1>
      <input type="text" name="number" ng-model="form.number" validator="number"/>
    </div>
    <div>
      <h1>Custom Default</h1>
      <input type="text" name="number" ng-model="form.number" validator="customNumber=xxx" data-invalid-message="xxxxxx"/>
    </div>
  </div>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script src="./angular-validation.js"></script>
  <script src="./angular-validation-rule.js"></script>
  <script>
    var app = angular.module('app', ['validation', 'validation.rule']);
    app.config(['$validationProvider', function($validationProvider) {
      var expression = {
        number: /^\d+$/,
        customNumber: /^\d+$/,
      };
      var message = {
        number: {
          error: 'This should be Number',
          success: 'It\'s Number'
        },
        customNumber: {
          error: function (element, attrs, param) {
            console.log(element, attrs, param);
            return 'This should be Number';
            // return 'A minimum of ' + param + ' characters is required.';
          },
        },
      };
      $validationProvider.setExpression(expression).setDefaultMsg(message);
    }]);
    app.controller('Ctrl', function ($scope, $injector) {
      var $validationProvider = $injector.get('$validation');
      $scope.form = {
        submit: function (form) {
          $validationProvider.validate(form)
            .success(function (data) {console.log(data)})
            .error(function (data) {console.log(data)});
        },
      };
    })
  </script>
</body>

</html>
