<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div ng-controller="Ctrl">
    <div>
      <h1>Default</h1>
      <input type="text" name="number" ng-model="form.number" validator="number"/>
    </div>
    <div>
      <h1>Watch method</h1>
      <input type="text" name="number" ng-model="form.number" validator="number" valid-method="watch"/>
    </div>
    <div>
      <h1>Blur method</h1>
      <input type="text" name="number" ng-model="form.number" validator="number" valid-method="blur"/>
    </div>
    <div>
      <h1>ng-model-options="{ updateOn: 'blur' }</h1>
      <input type="text" name="number" ng-model="form.number" validator="number" ng-model-options="{ updateOn: 'blur' }"/>
    </div>
    <div>
      <h1>Submit method</h1>
      <form name="Form1">
        <input type="text" name="number" ng-model="form.number" validator="number" valid-method="submit"/>
        <button ng-click="form.submit(Form1)">submit</button>
      </form>
    </div>
    <div>
      <h1>Submit Only method</h1>
      <form name="Form2">
        <input type="text" name="number" ng-model="form.number" validator="number" valid-method="submit-only"/>
        <button ng-click="form.submit(Form2)">submit</button>
      </form>
    </div>
  </div>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script src="https://unpkg.com/angular-validation@1.4.2/dist/angular-validation.js"></script>
  <script src="https://unpkg.com/angular-validation@1.4.2/dist/angular-validation-rule.js"></script>
  <script>
    var app = angular.module('app', ['validation', 'validation.rule']);
    app.controller('Ctrl', function ($scope, $injector) {
      var $validationProvider = $injector.get('$validation');
      $scope.form = {
        submit: function (form) {
          $validationProvider.validate(form)
            .success(function (data) {console.log(data)})
            .error(function (data) {console.log(data)});
        },
      };
    })
  </script>
</body>

</html>
