.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.root .text:active {
  color: #a36666;
}
.textbox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.root .textbox::placeholder {
  color: #bf2b2b;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ntti7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__eZzIa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
