@import url('https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap');

.plasmic_default_styles {
  --mixin-SmDbCCiLoQs_font-family: 'Inter', sans-serif;
  --mixin-SmDbCCiLoQs_font-size: 16px;
  --mixin-SmDbCCiLoQs_font-weight: 400;
  --mixin-SmDbCCiLoQs_font-style: normal;
  --mixin-SmDbCCiLoQs_color: #535353;
  --mixin-SmDbCCiLoQs_text-align: left;
  --mixin-SmDbCCiLoQs_text-transform: none;
  --mixin-SmDbCCiLoQs_line-height: 1.5;
  --mixin-SmDbCCiLoQs_letter-spacing: normal;
  --mixin-SmDbCCiLoQs_white-space: pre-wrap;
  --mixin-SmDbCCiLoQs_user-select: text;
  --mixin-SmDbCCiLoQs_text-decoration-line: none;
  --mixin-SmDbCCiLoQs_text-overflow: clip;
  --mixin-Ttv__pZz3Q8_color: #000000;
  --mixin-Ttv__pZz3Q8_font-size: 24px;
  --mixin-Ttv__pZz3Q8_font-weight: 600;
  --mixin-Ttv__pZz3Q8_letter-spacing: -0.5px;
  --mixin-Ttv__pZz3Q8_line-height: 1.3;
  --mixin-Ttv__pZz3Q8_white-space: pre-wrap;
  --mixin-efcnEQvLzGT_color: #000000;
  --mixin-efcnEQvLzGT_font-size: 20px;
  --mixin-efcnEQvLzGT_font-weight: 600;
  --mixin-efcnEQvLzGT_letter-spacing: -0.3px;
  --mixin-efcnEQvLzGT_line-height: 1.5;
  --mixin-efcnEQvLzGT_white-space: pre-wrap;
  --mixin-4R5VwVI6EFr_color: #000000;
  --mixin-4R5VwVI6EFr_font-size: 16px;
  --mixin-4R5VwVI6EFr_font-weight: 600;
  --mixin-4R5VwVI6EFr_line-height: 1.5;
  --mixin-4R5VwVI6EFr_white-space: pre-wrap;
  --mixin-bXlM1jnD1G0_color: #0070f3;
  --mixin-bXlM1jnD1G0_white-space: pre-wrap;
  --mixin-Lx2nOuO5MGN_border-left-color: #dddddd;
  --mixin-Lx2nOuO5MGN_border-left-style: solid;
  --mixin-Lx2nOuO5MGN_border-left-width: 3px;
  --mixin-Lx2nOuO5MGN_color: #888888;
  --mixin-Lx2nOuO5MGN_padding-left: 10px;
  --mixin-Lx2nOuO5MGN_white-space: pre-wrap;
  --mixin-zvgYoFdp8sA_color: #000000;
  --mixin-zvgYoFdp8sA_font-size: 72px;
  --mixin-zvgYoFdp8sA_font-weight: 900;
  --mixin-zvgYoFdp8sA_letter-spacing: -4px;
  --mixin-zvgYoFdp8sA_line-height: 1;
  --mixin-zvgYoFdp8sA_white-space: pre-wrap;
  --mixin-5iN5cQ3seW7_color: #000000;
  --mixin-5iN5cQ3seW7_font-size: 48px;
  --mixin-5iN5cQ3seW7_font-weight: 700;
  --mixin-5iN5cQ3seW7_letter-spacing: -1px;
  --mixin-5iN5cQ3seW7_line-height: 1.1;
  --mixin-5iN5cQ3seW7_white-space: pre-wrap;
  --mixin-ivEc8wYrbvEI_color: #000000;
  --mixin-ivEc8wYrbvEI_font-size: 32px;
  --mixin-ivEc8wYrbvEI_font-weight: 600;
  --mixin-ivEc8wYrbvEI_letter-spacing: -0.8px;
  --mixin-ivEc8wYrbvEI_line-height: 1.2;
  --mixin-ivEc8wYrbvEI_white-space: pre-wrap;
  --mixin-nQzsjBtxQtXu_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-nQzsjBtxQtXu_border-bottom-color: #dddddd;
  --mixin-nQzsjBtxQtXu_border-bottom-style: solid;
  --mixin-nQzsjBtxQtXu_border-bottom-width: 1px;
  --mixin-nQzsjBtxQtXu_border-left-color: #dddddd;
  --mixin-nQzsjBtxQtXu_border-left-style: solid;
  --mixin-nQzsjBtxQtXu_border-left-width: 1px;
  --mixin-nQzsjBtxQtXu_border-right-color: #dddddd;
  --mixin-nQzsjBtxQtXu_border-right-style: solid;
  --mixin-nQzsjBtxQtXu_border-right-width: 1px;
  --mixin-nQzsjBtxQtXu_border-top-color: #dddddd;
  --mixin-nQzsjBtxQtXu_border-top-style: solid;
  --mixin-nQzsjBtxQtXu_border-top-width: 1px;
  --mixin-nQzsjBtxQtXu_border-bottom-left-radius: 3px;
  --mixin-nQzsjBtxQtXu_border-bottom-right-radius: 3px;
  --mixin-nQzsjBtxQtXu_border-top-left-radius: 3px;
  --mixin-nQzsjBtxQtXu_border-top-right-radius: 3px;
  --mixin-nQzsjBtxQtXu_font-family: 'Inconsolata';
  --mixin-nQzsjBtxQtXu_padding-bottom: 1px;
  --mixin-nQzsjBtxQtXu_padding-left: 4px;
  --mixin-nQzsjBtxQtXu_padding-right: 4px;
  --mixin-nQzsjBtxQtXu_padding-top: 1px;
  --mixin-nQzsjBtxQtXu_white-space: pre-wrap;
  --mixin-7vOFOV53Ak16_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7vOFOV53Ak16_border-bottom-color: #dddddd;
  --mixin-7vOFOV53Ak16_border-bottom-style: solid;
  --mixin-7vOFOV53Ak16_border-bottom-width: 1px;
  --mixin-7vOFOV53Ak16_border-left-color: #dddddd;
  --mixin-7vOFOV53Ak16_border-left-style: solid;
  --mixin-7vOFOV53Ak16_border-left-width: 1px;
  --mixin-7vOFOV53Ak16_border-right-color: #dddddd;
  --mixin-7vOFOV53Ak16_border-right-style: solid;
  --mixin-7vOFOV53Ak16_border-right-width: 1px;
  --mixin-7vOFOV53Ak16_border-top-color: #dddddd;
  --mixin-7vOFOV53Ak16_border-top-style: solid;
  --mixin-7vOFOV53Ak16_border-top-width: 1px;
  --mixin-7vOFOV53Ak16_border-bottom-left-radius: 3px;
  --mixin-7vOFOV53Ak16_border-bottom-right-radius: 3px;
  --mixin-7vOFOV53Ak16_border-top-left-radius: 3px;
  --mixin-7vOFOV53Ak16_border-top-right-radius: 3px;
  --mixin-7vOFOV53Ak16_font-family: 'Inconsolata';
  --mixin-7vOFOV53Ak16_padding-bottom: 3px;
  --mixin-7vOFOV53Ak16_padding-left: 6px;
  --mixin-7vOFOV53Ak16_padding-right: 6px;
  --mixin-7vOFOV53Ak16_padding-top: 3px;
  --mixin-7vOFOV53Ak16_white-space: pre-wrap;
  --mixin-_m41KAd31mpz_display: flex;
  --mixin-_m41KAd31mpz_flex-direction: column;
  --mixin-_m41KAd31mpz_align-items: stretch;
  --mixin-_m41KAd31mpz_justify-content: flex-start;
  --mixin-_m41KAd31mpz_list-style-position: outside;
  --mixin-_m41KAd31mpz_padding-left: 40px;
  --mixin-_m41KAd31mpz_position: relative;
  --mixin-_m41KAd31mpz_list-style-type: decimal;
  --mixin-_m41KAd31mpz_white-space: pre-wrap;
  --mixin-tF4KYbq_8Mq0_display: flex;
  --mixin-tF4KYbq_8Mq0_flex-direction: column;
  --mixin-tF4KYbq_8Mq0_align-items: stretch;
  --mixin-tF4KYbq_8Mq0_justify-content: flex-start;
  --mixin-tF4KYbq_8Mq0_list-style-position: outside;
  --mixin-tF4KYbq_8Mq0_padding-left: 40px;
  --mixin-tF4KYbq_8Mq0_position: relative;
  --mixin-tF4KYbq_8Mq0_list-style-type: disc;
  --mixin-tF4KYbq_8Mq0_white-space: pre-wrap;
  --mixin-tP3fJjtoxqCW_color: #3291ff;
  --mixin-tP3fJjtoxqCW_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-SmDbCCiLoQs_font-family);
  font-size: var(--mixin-SmDbCCiLoQs_font-size);
  font-weight: var(--mixin-SmDbCCiLoQs_font-weight);
  font-style: var(--mixin-SmDbCCiLoQs_font-style);
  color: var(--mixin-SmDbCCiLoQs_color);
  text-align: var(--mixin-SmDbCCiLoQs_text-align);
  text-transform: var(--mixin-SmDbCCiLoQs_text-transform);
  line-height: var(--mixin-SmDbCCiLoQs_line-height);
  letter-spacing: var(--mixin-SmDbCCiLoQs_letter-spacing);
  white-space: var(--mixin-SmDbCCiLoQs_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Ttv__pZz3Q8_color);
  font-size: var(--mixin-Ttv__pZz3Q8_font-size);
  font-weight: var(--mixin-Ttv__pZz3Q8_font-weight);
  letter-spacing: var(--mixin-Ttv__pZz3Q8_letter-spacing);
  line-height: var(--mixin-Ttv__pZz3Q8_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-efcnEQvLzGT_color);
  font-size: var(--mixin-efcnEQvLzGT_font-size);
  font-weight: var(--mixin-efcnEQvLzGT_font-weight);
  letter-spacing: var(--mixin-efcnEQvLzGT_letter-spacing);
  line-height: var(--mixin-efcnEQvLzGT_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-4R5VwVI6EFr_color);
  font-size: var(--mixin-4R5VwVI6EFr_font-size);
  font-weight: var(--mixin-4R5VwVI6EFr_font-weight);
  line-height: var(--mixin-4R5VwVI6EFr_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-bXlM1jnD1G0_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Lx2nOuO5MGN_color);
  padding-left: var(--mixin-Lx2nOuO5MGN_padding-left);
  border-left: var(--mixin-Lx2nOuO5MGN_border-left-width) var(--mixin-Lx2nOuO5MGN_border-left-style)
    var(--mixin-Lx2nOuO5MGN_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-zvgYoFdp8sA_color);
  font-size: var(--mixin-zvgYoFdp8sA_font-size);
  font-weight: var(--mixin-zvgYoFdp8sA_font-weight);
  letter-spacing: var(--mixin-zvgYoFdp8sA_letter-spacing);
  line-height: var(--mixin-zvgYoFdp8sA_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-5iN5cQ3seW7_color);
  font-size: var(--mixin-5iN5cQ3seW7_font-size);
  font-weight: var(--mixin-5iN5cQ3seW7_font-weight);
  letter-spacing: var(--mixin-5iN5cQ3seW7_letter-spacing);
  line-height: var(--mixin-5iN5cQ3seW7_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ivEc8wYrbvEI_color);
  font-size: var(--mixin-ivEc8wYrbvEI_font-size);
  font-weight: var(--mixin-ivEc8wYrbvEI_font-weight);
  letter-spacing: var(--mixin-ivEc8wYrbvEI_letter-spacing);
  line-height: var(--mixin-ivEc8wYrbvEI_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-nQzsjBtxQtXu_font-family);
  border-radius: var(--mixin-nQzsjBtxQtXu_border-top-left-radius)
    var(--mixin-nQzsjBtxQtXu_border-top-right-radius)
    var(--mixin-nQzsjBtxQtXu_border-bottom-right-radius)
    var(--mixin-nQzsjBtxQtXu_border-bottom-left-radius);
  padding: var(--mixin-nQzsjBtxQtXu_padding-top) var(--mixin-nQzsjBtxQtXu_padding-right)
    var(--mixin-nQzsjBtxQtXu_padding-bottom) var(--mixin-nQzsjBtxQtXu_padding-left);
  border-top: var(--mixin-nQzsjBtxQtXu_border-top-width) var(--mixin-nQzsjBtxQtXu_border-top-style)
    var(--mixin-nQzsjBtxQtXu_border-top-color);
  border-right: var(--mixin-nQzsjBtxQtXu_border-right-width)
    var(--mixin-nQzsjBtxQtXu_border-right-style) var(--mixin-nQzsjBtxQtXu_border-right-color);
  border-bottom: var(--mixin-nQzsjBtxQtXu_border-bottom-width)
    var(--mixin-nQzsjBtxQtXu_border-bottom-style) var(--mixin-nQzsjBtxQtXu_border-bottom-color);
  border-left: var(--mixin-nQzsjBtxQtXu_border-left-width)
    var(--mixin-nQzsjBtxQtXu_border-left-style) var(--mixin-nQzsjBtxQtXu_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7vOFOV53Ak16_font-family);
  border-radius: var(--mixin-7vOFOV53Ak16_border-top-left-radius)
    var(--mixin-7vOFOV53Ak16_border-top-right-radius)
    var(--mixin-7vOFOV53Ak16_border-bottom-right-radius)
    var(--mixin-7vOFOV53Ak16_border-bottom-left-radius);
  padding: var(--mixin-7vOFOV53Ak16_padding-top) var(--mixin-7vOFOV53Ak16_padding-right)
    var(--mixin-7vOFOV53Ak16_padding-bottom) var(--mixin-7vOFOV53Ak16_padding-left);
  border-top: var(--mixin-7vOFOV53Ak16_border-top-width) var(--mixin-7vOFOV53Ak16_border-top-style)
    var(--mixin-7vOFOV53Ak16_border-top-color);
  border-right: var(--mixin-7vOFOV53Ak16_border-right-width)
    var(--mixin-7vOFOV53Ak16_border-right-style) var(--mixin-7vOFOV53Ak16_border-right-color);
  border-bottom: var(--mixin-7vOFOV53Ak16_border-bottom-width)
    var(--mixin-7vOFOV53Ak16_border-bottom-style) var(--mixin-7vOFOV53Ak16_border-bottom-color);
  border-left: var(--mixin-7vOFOV53Ak16_border-left-width)
    var(--mixin-7vOFOV53Ak16_border-left-style) var(--mixin-7vOFOV53Ak16_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-_m41KAd31mpz_display);
  flex-direction: var(--mixin-_m41KAd31mpz_flex-direction);
  align-items: var(--mixin-_m41KAd31mpz_align-items);
  justify-content: var(--mixin-_m41KAd31mpz_justify-content);
  list-style-position: var(--mixin-_m41KAd31mpz_list-style-position);
  padding-left: var(--mixin-_m41KAd31mpz_padding-left);
  position: var(--mixin-_m41KAd31mpz_position);
  list-style-type: var(--mixin-_m41KAd31mpz_list-style-type);
  flex-column-gap: var(--mixin-_m41KAd31mpz_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-tF4KYbq_8Mq0_display);
  flex-direction: var(--mixin-tF4KYbq_8Mq0_flex-direction);
  align-items: var(--mixin-tF4KYbq_8Mq0_align-items);
  justify-content: var(--mixin-tF4KYbq_8Mq0_justify-content);
  list-style-position: var(--mixin-tF4KYbq_8Mq0_list-style-position);
  padding-left: var(--mixin-tF4KYbq_8Mq0_padding-left);
  position: var(--mixin-tF4KYbq_8Mq0_position);
  list-style-type: var(--mixin-tF4KYbq_8Mq0_list-style-type);
  flex-column-gap: var(--mixin-tF4KYbq_8Mq0_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-tP3fJjtoxqCW_color);
}
