@import '../../../globals/variables.module.scss';

:root:hover .cursor {
    display: block;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    display: none;
    z-index: 999999;
}

.cursor > * {
    position: absolute;
    width: 1px;
    height: 1px;
    background: $gold-yellow;
    border-radius: 50%;
}
