<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThemeU.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.020.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
				<key>dateExpires</key>
				<string>2024/5/15</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AWAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AWCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AWMarvel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppWheelAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorAppLauncher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorPreferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JWTDecode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTAreaManagerKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTDeviceComponent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTPhotoLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTSSOShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PIXAWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PIXAWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PixCloudStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PixDefines.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PixDownloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PixQueue.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PixViewCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>6.18.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PurchaseSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SCSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SCSDKCreativeKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.010.8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>QJKV9WMLMU.com.aimagic.themeu.widgetIntents</string>
						<key>com.apple.developer.team-identifier</key>
						<string>QJKV9WMLMU</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.aimagic.themeu</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>widgetIntents.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>a48e0011-3e25-48e0-9529-7c2dffbc84fc</string>
						<key>dateExpires</key>
						<string>2024/6/7</string>
						<key>name</key>
						<string>ThemeUWidgetIntent-Dev</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.010</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.010.8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>912028576FA97D4206CE15FE827CBE1309732BDE</string>
						<key>dateExpires</key>
						<string>2024/5/15</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>QJKV9WMLMU.com.aimagic.themeu.widgetscene</string>
						<key>com.apple.developer.team-identifier</key>
						<string>QJKV9WMLMU</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.aimagic.themeu</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>widgetsceneExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>22493d81-1ebb-4e8d-b562-da09d533c66d</string>
						<key>dateExpires</key>
						<string>2024/6/4</string>
						<key>name</key>
						<string>ThemeUWidgetScene-Dev</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QJKV9WMLMU</string>
						<key>name</key>
						<string>AYAKA KASHIHARA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.010</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QJKV9WMLMU.com.aimagic.themeu</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:themeu.onelink.me</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>QJKV9WMLMU</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.aimagic.themeu</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ThemeU.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>23339b8d-0d62-4d23-949b-fc59fca52721</string>
				<key>dateExpires</key>
				<string>2024/6/27</string>
				<key>name</key>
				<string>ThemeU</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QJKV9WMLMU</string>
				<key>name</key>
				<string>AYAKA KASHIHARA</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.020</string>
		</dict>
	</array>
</dict>
</plist>
