@import '../../globals/variables.module.scss';

.task {
    color: $font-color;
    background-color: $task-bg-color;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    width: $task-width;

    .progress {
        font: $task-font-progress;
        letter-spacing: 0.2em;
    }

    .title {
        font: $task-font-title;
        padding-top: 1.5rem;
        padding-bottom: 1.3rem;
    }

    .desc {
        font: $task-font-description;
        text-align: $task-text-align;
        list-style-type: decimal;
        list-style-position: outside;
        padding-left: 1rem;
        margin-top: 0;

        li:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        li:first-of-type {
            list-style-type: none;
            margin-left: -1rem;
        }
    }
}
