@import '../../../globals/variables.module.scss';

.root {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: $lesson-bg-color;
    font-family: $font-family-text;
    padding: $lesson-padding;
    gap: $lesson-gap;

    .playground {
        overflow: hidden;
        background-color: $playground-bg-color;
        border-radius: $playground-border-radius;
        width: $playground-width;
        height: $playground-height;

        // lesson specific
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 30px;
    }
}

// lesson specific
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;

    .glow {
        grid-column: 10;
        grid-row: 5;
        display: grid;
    }
}
