.demo {
  width: 100px;
  height: 100px;
  border: 6px solid orange;
  background-color: green;
}

.demo::before {
  content: 'b';
}

div.demo2 {
  width: 100px;
  height: 100px;
  border: 6px solid orange;
  background-color: green;
}
