<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    div{
      padding: 6px;
    }
    div.container {
        border: 1px solid black;
    }
    div.my-info {
        border: 1px solid blue;
    }
    div.my-directive{
        border: 1px solid green;
    }
  </style>
</head>

<body>
  <div ng-app="MyApp">
    <div class="container" ng-controller="MyController">
      <div class="my-info">
        <span>我的名字是：</span>
        <span ng-bind="name"></span>
        <br/>
        <span>我的年龄是：</span>
        <span ng-bind="age"></span>
        <br>
        <input type='text' ng-model='name'>
      </div>
      <div class="my-directive" my-directive></div>
    </div>
  </div>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script>
    angular.module("MyApp", [])
      .controller("MyController", function ($scope) {
        $scope.name = "dreamapple";
        $scope.age = 20;
        $scope.changeAge = function () {
          $scope.age = 22;
        }
      })
      .directive("myDirective", function () {
        var obj = {
          restrict: "AE",
          scope: true,
          replace: true,
          template: "<div class='my-directive'>" +
              "<h3>下面部分是我们创建的指令生成的</h3>" +
              "我的名字是：<span ng-bind='name'></span><br/>" +
              "我的年龄是：<span ng-bind='age'></span><br/>" +
              "在这里修改名字：<input type='text' ng-model='name'>"+
              " </div>"
        }
        return obj;
      });
  </script>
</body>

</html>
