/* Madefor for Text*/
@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 400;
  src: url(./assets/fonts/wix-made-for-text-w-rg.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url(./assets/fonts/wix-made-for-text-w-it.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 700;
  src: url(./assets/fonts/wix-made-for-text-w-bd.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url(./assets/fonts/wix-made-for-text-w-bd-it.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 800;
  src: url(./assets/fonts/wix-made-for-text-w-xbd.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  src: url(./assets/fonts/wix-made-for-text-w-xbd-it.woff2) format('woff2');
}

/* Madefor Display */
@font-face {
  font-family: 'MadeforDisplay';
  font-display: swap;
  font-weight: 400;
  src: url(./assets/fonts/wix-made-for-display-w-rg.woff2) format('woff2');
}

@font-face {
  font-family: 'MadeforDisplay';
  font-display: swap;
  font-weight: 700;
  src: url(./assets/fonts/wix-made-for-display-w-bd.woff2) format('woff2');
}

@font-face {
  font-family: 'MadeforDisplay';
  font-display: swap;
  font-weight: 800;
  src: url(./assets/fonts/wix-made-for-display-w-xbd.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: Madefor, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
