<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Angularjs</title>
  </head>
  <body>
    <div ng-app="app">
      <a ui-sref="hello" ui-sref-active="active">Hello</a>
      <a ui-sref="about" ui-sref-active="active">About</a>
      <a ui-sref="temp" ui-sref-active="active">Temp</a>
      <ui-view></ui-view>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/angular@1.8.0/angular.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-ui-router@1.0.28/release/angular-ui-router.js"></script>
    <script>
      class CHelloController {
        static $inject = ["$scope"];

        constructor() {
          this.name = "Component";
        }
      }
      // const chello = angular.module("chello", []);
      // chello.component("chello", {
      //   bindings: {},
      //   template: `
      //     <div>
      //       <p>Name : <input type="text" ng-model="$ctrl.name" /></p>
      //       <h1>Hello {{$ctrl.name}}</h1>
      //     </div>
      //   `,
      //   controller: CHelloController,
      // });
      // const components = angular.module("app.components", [chello.name]);

      class HelloController {
        static $inject = ["$scope"];

        constructor() {
          this.name = "Page";
        }
      }
      const hello = angular.module("hello", []);
      hello.component("hello", {
        bindings: {},
        template: `
          <h3>hello</h3>
          <div>
            <p>Name : <input type="text" ng-model="$ctrl.name" /></p>
            <h1>Hello {{$ctrl.name}}</h1>
          </div>
          <chello>
        `,
        controller: HelloController,
      });
      hello.component("chello", {
        bindings: {},
        template: `
          <div>
            <p>Name : <input type="text" ng-model="$ctrl.name" /></p>
            <h1>Hello {{$ctrl.name}}</h1>
          </div>
        `,
        controller: CHelloController,
      });

      class AbountController {
        static $inject = ["$scope"];

        constructor() {
          this.name = "Page";
        }
      }
      const about = angular.module("about", []);
      about.component("about", {
        bindings: {},
        template: `
          <h3>about</h3>
          <div>
            <p>Name : <input type="text" ng-model="$ctrl.name" /></p>
            <h1>Hello {{$ctrl.name}}</h1>
          </div>
          <chello>
        `,
        controller: AbountController,
      });
      about.component("chello", {
        bindings: {},
        template: `
          <div>
            <p>Name : <input type="text" ng-model="$ctrl.name" /></p>
            <h1>Hello {{$ctrl.name}}</h1>
          </div>
        `,
        controller: CHelloController,
      });

      const pages = angular.module("app.pages", [hello.name, about.name]);

      var myApp = angular.module("app", [
        "ui.router",
        // components.name,
        pages.name,
      ]);

      myApp.config(function ($stateProvider) {
        var helloState = {
          name: "hello",
          url: "/hello",
          template: "<hello>",
        };

        var aboutState = {
          name: "about",
          url: "/about",
          template: "<about>",
        };

        var tempState = {
          name: "temp",
          url: "/temp",
          component: 'chello'
        };

        $stateProvider.state(helloState);
        $stateProvider.state(aboutState);
        $stateProvider.state(tempState);
      });
    </script>
  </body>
</html>
