<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script>
    function test1(depth) {
      var html = []
      for (var i = 0; i < depth; i++) {
        html.push("<div style='display:flex;")
    //    if (i%2 || i==11) {
          html.push("flex-direction:column;")
    //    }
        html.push("'>test")
      }

      for (var i = 0; i < depth; i++) {
        html.push("</div>")
      }

      var t1 = new Date()
      document.body.innerHTML = html.join("")
      var height = document.body.children[0].offsetHeight
      return new Date() - t1
    }

    var times = []
    for (var i = 1; i < 20; i++) {
      times.push({count: i, time: test1(i)})
    }

    console.table(times)
  </script>
</body>
</html>
