<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div>
      <p>文本内容</p>
    </div>
    <div>
      <button type="" onClick="alert(1)">按钮</button>
    </div>
    <div>
      <input type="" name="" value="输入框">
    </div>
    <div>
      <a href="https://facebook.github.io/react/img/logo_og.png">链接</a>
    </div>
    <div>
      <img src="https://facebook.github.io/react/img/logo_og.png" alt="">
    </div>
    <div>
      <a href="">
        <span>链接图片</span>
        <img src="https://facebook.github.io/react/img/logo_og.png" alt="">
      </a>
    </div>
  </body>
</html>
