<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    div {
      box-sizing: border-box;
      width: 200px;
      padding: 30px;
      background-color: grey;
    }
    .btn1 {
      display: block;
      background-color: red;
    }
    .btn1 {
      display: block;
      inline-size: inherit;
      background-color: blue;
    }
    .btn3 {
      display: block;
      inline-size: 100%;
      background-color: green;
    }
  </style>
</head>
<body>
  <div>
    <button class="btn1">123</button>
    <button class="btn2">123</button>
    <button class="btn3">123</button>
  </div>
</body>
</html>
