<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <style>
      .table {
        width: 1000px;
      }

      .table_fixed {
        table-layout: fixed;
      }
    </style>
  </head>
  <body>
    <h2>测试列宽计算模式</h2>
    <h3>auto 布局根据列内容字段计算宽度</h3>
    <table border class="table">
      <thead>
        <th>a</th>
        <th>b</th>
        <th>c</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九一二三四五六七八九</div>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>fixed 布局根据等分布局</h3>
    <table border class="table table_fixed">
      <thead>
        <th>a</th>
        <th>b</th>
        <th>c</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九一二三四五六七八九</div>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>测试列内容宽度设置</h2>
    <h3>auto 列内容宽度设置会影响列宽度占比</h3>
    <table border class="table">
      <thead>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div style="width: 500px">
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>fixed 列内容宽度设置不会影响列宽度占比（溢出）</h3>
    <table border class="table table_fixed">
      <thead>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div style="width: 500px">
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>测试表头列宽度设置</h2>
    <h3>auto 表头列宽度设置生效，剩余列继续自动按内容布局</h3>
    <table border class="table">
      <thead>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th style="width: 500px">f</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>fixed 表头列宽度设置生效，剩余列继续固定等分布局</h3>
    <table border class="table table_fixed">
      <thead>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th style="width: 500px">f</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>超出一屏</h2>
    <h3>auto</h3>
    <table border class="table">
      <thead>
        <th style="width: 200px">a</th>
        <th style="width: 200px">b</th>
        <th style="width: 200px">c</th>
        <th style="width: 200px">d</th>
        <th style="width: 200px">e</th>
        <th style="width: 200px">f</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>一二三四五六七八九一二三四五六七八九一二三四五六七八九</div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
          <td>
            <div>
              一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>fixed</h3>
    <div style="width: 1000px; overflow-x: auto">
      <table border class="table table_fixed">
        <thead>
          <th style="width: 200px">a</th>
          <th style="width: 200px">b</th>
          <th style="width: 200px">c</th>
          <th style="width: 200px">d</th>
          <th style="width: 200px">e</th>
          <th style="width: 200px">f</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>一二三四五六七八九</div>
            </td>
            <td>
              <div>一二三四五六七八九一二三四五六七八九</div>
            </td>
            <td>
              <div>一二三四五六七八九一二三四五六七八九一二三四五六七八九</div>
            </td>
            <td>
              <div>
                一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
              </div>
            </td>
            <td>
              <div>
                一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
              </div>
            </td>
            <td>
              <div>
                一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九一二三四五六七八九
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
