<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <h2>Question</h2>
      <div style="width: 300px; background-color: grey">
        <table
          style="
            border-collapse: collapse;
            border-width: 1px;
            border-spacing: 0px;
          "
          border="1"
          cellspacing="0"
          cellpadding="10"
        >
          <tbody>
            <tr>
              <td style="border-width: 1px; padding: 10px; width: 150px">
                <p><strong>Name</strong></p>
              </td>
              <td
                style="
                  border-width: 1px;
                  padding: 10px;
                  width: 200px;
                  text-align: center;
                "
              >
                <p><strong>License</strong></p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                <p><strong>Links</strong></p>
              </td>
            </tr>
            <tr>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>Stable diffusion</p>
              </td>
              <td
                style="
                  border-width: 1px;
                  padding: 10px;
                  text-align: center;
                  width: 24.3902%;
                "
              >
                <p>MIT License</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                <p>
                  <span lang="EN-US"
                    ><a
                      href="https://github.com/Stability-AI/stablediffusion/blob/main/LICENSE"
                      >https://github.com/Stability-AI/stablediffusion/blob/main/LICENSE</a
                    ></span
                  >
                </p>
              </td>
            </tr>
            <tr>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>Stable diffusion Web UI</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>AGPL-3.0 License</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                <p>
                  <span lang="EN-US"
                    ><a
                      href="https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/master/LICENSE.txt"
                      >https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/master/LICENSE.txt</a
                    ></span
                  >
                </p>
              </td>
            </tr>
            <tr>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>ControlNet</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>Apache-2.0 License</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                <p>
                  <span lang="EN-US"
                    ><a
                      href="https://github.com/lllyasviel/ControlNet/blob/main/LICENSE"
                      >https://github.com/lllyasviel/ControlNet/blob/main/LICENSE</a
                    ></span
                  >
                </p>
              </td>
            </tr>
            <tr>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>Anything4.0</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>CreativeML Open RAIL-M License</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                <p>
                  <span lang="EN-US"
                    ><a
                      href="https://huggingface.co/spaces/CompVis/stable-diffusion-license"
                      >https://huggingface.co/spaces/CompVis/stable-diffusion-license</a
                    ></span
                  >
                </p>
              </td>
            </tr>
            <tr>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>Gradio</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                <p>Apache-2.0 License</p>
              </td>
              <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                <p>
                  <span lang="EN-US"
                    ><a
                      href="https://github.com/gradio-app/gradio/blob/main/LICENSE"
                      >https://github.com/gradio-app/gradio/blob/main/LICENSE</a
                    ></span
                  >
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <div>
        <h2>Break word</h2>
        <div style="width: 300px; background-color: grey">
          <table
            style="
              border-collapse: collapse;
              border-width: 1px;
              border-spacing: 0px;
              word-wrap: break-word;
              word-break: break-all;
            "
            border="1"
            cellspacing="0"
            cellpadding="10"
          >
            <tbody>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 150px">
                  <p><strong>Name</strong></p>
                </td>
                <td
                  style="
                    border-width: 1px;
                    padding: 10px;
                    width: 200px;
                    text-align: center;
                  "
                >
                  <p><strong>License</strong></p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p><strong>Links</strong></p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Stable diffusion</p>
                </td>
                <td
                  style="
                    border-width: 1px;
                    padding: 10px;
                    text-align: center;
                    width: 24.3902%;
                  "
                >
                  <p>MIT License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://github.com/Stability-AI/stablediffusion/blob/main/LICENSE"
                        >https://github.com/Stability-AI/stablediffusion/blob/main/LICENSE</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Stable diffusion Web UI</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>AGPL-3.0 License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/master/LICENSE.txt"
                        >https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/master/LICENSE.txt</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>ControlNet</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Apache-2.0 License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://github.com/lllyasviel/ControlNet/blob/main/LICENSE"
                        >https://github.com/lllyasviel/ControlNet/blob/main/LICENSE</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Anything4.0</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>CreativeML Open RAIL-M License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://huggingface.co/spaces/CompVis/stable-diffusion-license"
                        >https://huggingface.co/spaces/CompVis/stable-diffusion-license</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Gradio</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Apache-2.0 License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://github.com/gradio-app/gradio/blob/main/LICENSE"
                        >https://github.com/gradio-app/gradio/blob/main/LICENSE</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <h2>Scrollable</h2>
        <div style="width: 300px; background-color: grey">
          <table
            style="
              display: block;
              border-collapse: collapse;
              border-width: 1px;
              border-spacing: 0px;
              overflow-x: auto;
            "
            border="1"
            cellspacing="0"
            cellpadding="10"
          >
            <tbody>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 150px">
                  <p><strong>Name</strong></p>
                </td>
                <td
                  style="
                    border-width: 1px;
                    padding: 10px;
                    width: 200px;
                    text-align: center;
                  "
                >
                  <p><strong>License</strong></p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p><strong>Links</strong></p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Stable diffusion</p>
                </td>
                <td
                  style="
                    border-width: 1px;
                    padding: 10px;
                    text-align: center;
                    width: 24.3902%;
                  "
                >
                  <p>MIT License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://github.com/Stability-AI/stablediffusion/blob/main/LICENSE"
                        >https://github.com/Stability-AI/stablediffusion/blob/main/LICENSE</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Stable diffusion Web UI</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>AGPL-3.0 License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/master/LICENSE.txt"
                        >https://github.com/AUTOMATIC1111/stable-diffusion-webui/blob/master/LICENSE.txt</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>ControlNet</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Apache-2.0 License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://github.com/lllyasviel/ControlNet/blob/main/LICENSE"
                        >https://github.com/lllyasviel/ControlNet/blob/main/LICENSE</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Anything4.0</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>CreativeML Open RAIL-M License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://huggingface.co/spaces/CompVis/stable-diffusion-license"
                        >https://huggingface.co/spaces/CompVis/stable-diffusion-license</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Gradio</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 24.3902%">
                  <p>Apache-2.0 License</p>
                </td>
                <td style="border-width: 1px; padding: 10px; width: 50.9756%">
                  <p>
                    <span lang="EN-US"
                      ><a
                        href="https://github.com/gradio-app/gradio/blob/main/LICENSE"
                        >https://github.com/gradio-app/gradio/blob/main/LICENSE</a
                      ></span
                    >
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
