<!DOCTYPE html>
<html lang="en" ng-app="invoice">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div ng-controller="InvoiceController as invoice">
    <b>订单:</b>
    <div>
      数量: <input type="number" ng-model="invoice.qty" required>
    </div>
    <div>
      单价: <input type="number" ng-model="invoice.cost" required>
      <select ng-model="invoice.inCurr">
          <option ng-repeat="c in invoice.currencies">{{c}}</option>
        </select>
    </div>
    <div>
      <b>总价: {{invoice.total(invoice.inCurr)}}</b>
      <button class="btn" ng-click="invoice.pay()">支付</button>
    </div>
  </div>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script src="./app.js"></script>
</body>

</html>
