{
  "presets": ["@babel/preset-env"],
  "env": {
    "disalbe": {},
    "enable": {
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "corejs": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": 2
          }
        ]
      ]
    },
    "helpers-disable": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": false
          }
        ]
      ]
    },
    "regenerator-disable": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": false
          }
        ]
      ]
    },
    "regenerator-enable": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ]
    },
    "useESModules": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "useESModules": true
          }
        ]
      ]
    }
  }
}
