<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <my-tabs>
    <my-pane title="Hello">
      <h4>Hello</h4>
      <p>Lorem ipsum dolor sit amet</p>
    </my-pane>
    <my-pane title="World">
      <h4>World</h4>
      <em>Mauris elementum elementum enim at suscipit.</em>
      <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
    </my-pane>
  </my-tabs>
  <script src="https://unpkg.com/angular@1.6.2/angular.min.js"></script>
  <script>
    angular.module('app', [])
      .component('myTabs', {
        transclude: true,
        controller: function MyTabsController() {
          var panes = this.panes = [];
          this.select = function(pane) {
            angular.forEach(panes, function(pane) {
              pane.selected = false;
            });
            pane.selected = true;
          };
          this.addPane = function(pane) {
            if (panes.length === 0) {
              this.select(pane);
            }
            panes.push(pane);
          };
        },
        templateUrl: 'my-tabs.html'
      })
      .component('myPane', {
        transclude: true,
        require: {
          tabsCtrl: '^myTabs'
        },
        bindings: {
          title: '@'
        },
        controller: function() {
          this.$onInit = function() {
            this.tabsCtrl.addPane(this);
            console.log(this);
          };
        },
        templateUrl: 'my-pane.html'
      });
  </script>
</body>

</html>
