.transition-fade-appear,
.transition-fade-enter {
  opacity: 0;
}
.transition-fade-appear-active,
.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in-out;
}
.transition-fade-exit {
  opacity: 1;
}
.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 3000ms ease-in-out;
}
