.AutoHeightInfiniteList {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.AutoHeightInfiniteList-list {
  border: 1px solid #eee;
  border-radius: 0.5rem;
}
.AutoHeightInfiniteList-item {
  border-bottom: 1px solid #eee;
  padding: 0.5rem;
  box-sizing: border-box;
}
.AutoHeightInfiniteList-item:hover {
  background-color: #eee;
}
